.why {
    background: url("why-wamunc-background.JPG") 50% 50% no-repeat;
    background-size: cover;
}

.ias {
    background: url("ias-background.jpg") 20% 20% no-repeat;
    background-size: cover;
}

.pr-background {
    background: url("pr-background.JPG") 30% 30% no-repeat;
    background-size: cover;
}

.sec-gallery {
    font-size: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sec-member {
    width: 25%;
    height: 375px;
    position: relative;
    display: inline-block;
}

.sec-gen {
    background: url("https://s3.amazonaws.com/wamunc-website/secretariat-headshots/christabel.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.exec-dir {
    background: url("https://s3.amazonaws.com/wamunc-website/secretariat-headshots/sky.jpg") 40% 50% no-repeat;
    background-size: cover;
}

.cos {
    background: url("https://s3.amazonaws.com/wamunc-website/secretariat-headshots/austin.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.sen-adv {
    background: url("https://s3.amazonaws.com/wamunc-website/secretariat-headshots/danielle.jpg") 40% 50% no-repeat;
    background-size: cover;
}

.finance {
    background: url("https://s3.amazonaws.com/wamunc-website/secretariat-headshots/cooper.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.tech {
    background: url("https://s3.amazonaws.com/wamunc-website/secretariat-headshots/elias.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.pr {
    background: url("https://s3.amazonaws.com/wamunc-website/secretariat-headshots/kellie.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.prgm {
 /*   background: url("https://s3.amazonaws.com/wamunc-website/secretariat-headshots/leyla.jpg") 50% 50% no-repeat; */
    background-size: cover;
}

.security {
    background: url("https://s3.amazonaws.com/wamunc-website/secretariat-headshots/robert.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.safety {
    background: url("https://s3.amazonaws.com/wamunc-website/secretariat-headshots/ajay.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.intl {
    background: url("https://s3.amazonaws.com/wamunc-website/secretariat-headshots/javeria.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.regional {
    background: url("https://s3.amazonaws.com/wamunc-website/secretariat-headshots/angelo.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.historical {
    background: url("https://s3.amazonaws.com/wamunc-website/secretariat-headshots/clara.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.crisis {
    background: url("https://s3.amazonaws.com/wamunc-website/secretariat-headshots/anson.jpg") 40% 50% no-repeat;
    background-size: cover;
}

.sec-details {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(192,198,191,0);
    color: #000;
    font-size: 24px;
    visibility: hidden;
}

.sec-details h3, h4, h5 {
    padding: 5px;
    opacity: 1;
    color: #000;
    font-weight: 600;
}

.sec-details h3 {
    font-size: 28px;
}

.sec-details h4 {
    font-size: 26px;
}

.sec-details h5 {
    font-size: 22px;
}

.sec-member:hover .sec-details {
    visibility: visible;
    background-color: rgba(192,198,191,0.6);
}

.sec-info-brief {
    padding: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 5%;
    padding: 0;
}

.close {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fefefe;
    opacity: 0.6;
    font-size: 70px;
    font-weight: 300;
    width: 70px;
    height: 70px;
    margin-top: 5%;
    margin-right: 2.5%;
    padding: 0;
    border-radius: 50%;
    text-align: center;
    color: #000;
    border: none;
    z-index: 400;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    font-family: 'MobiriseIcons';
}

.close:hover {
    opacity: 1;
}

.mySlides {
    display: none;
}

.mySlides p {
    color: #000;
}

.prev, .next {
    position: fixed;
    top: 0;
    background-color: #fefefe;
    opacity: 0.6;
    width: 70px;
    height: 70px;
    margin-top: 25%;
    padding-bottom: 100px;
    padding-right: 10px;
    color: #000;
    font-weight: 300;
    font-size: 70px;
    text-align: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: 400;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    font-family: 'MobiriseIcons';
}

.prev {
    left: 0;
    margin-left: 5%;
    padding-right: 10px;
}

.next {
    right: 0;
    margin-right: 5%;
    padding-left: 15px;
}

.prev:hover, .next:hover {
    opacity: 1;
    background-color: #fefefe;
    color: #000;
    text-decoration: none;
}

.mySlides {
    height: 100%;
    display: none;
    font-size: 0;
    overflow: hidden;
}

.modal-desc-pic {
    width: 30%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.modal-pic {
    width: 90%;
    height: 300px;
    margin-left: 5%;
    font-size: 24px;
}

.modal-sec-info-brief {
    padding-top: 20px;
}

.modal-sec-info-brief p {
    color: #000;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

.modal-desc-bio {
    width: 70%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

.modal-bio {
    width: 90%;
    margin-left: 5%;
    padding-top: 0;
    overflow: hidden;
    font-size: 24px;
    text-indent: 2.25em;
}

@media screen and (max-width: 1300px) {
    .sec-member {
        width: 33.3333333%;
    }

    .sec-details h3 {
        font-size: 26px;
    }

    .sec-details h4 {
        font-size: 24px;
    }

    .sec-details h5 {
        font-size: 20px;
    }

    .modal-content {
        height: 90%;
        margin-top: 5%;
    }

    .mySlides {
        overflow-y: scroll;
    }

    .modal-desc-pic {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        font-size: 0;
        border-bottom: 1px solid #000;
    }

    .modal-pic {
        width: 50%;
        display: inline-block;
        margin-bottom: 10px;
    }

    .modal-sec-info-brief {
        display: inline-block;
        vertical-align: top;
        margin-left: 5%;
    }

    .modal-desc-bio {
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-top: 10px;
        padding-bottom: 15px;
        display: block;
    }

    .modal-bio p {
        font-size: 18px;
        text-indent: 1.75em;
    }
}

@media screen and (max-width: 860px) {
    .sec-member {
        width: 50%;
        height: 300px;
    }

    .sec-details h3 {
        font-size: 24px;
    }

    .sec-details h4 {
        font-size: 22px;
    }

    .sec-details h5 {
        font-size: 18px;
    }

    .modal-content {
        height: 90%;
        margin-top: 10%;
    }

    .mySlides {
        overflow-y: scroll;
    }

    .modal-desc-pic {
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        border-bottom: 1px solid #000;
    }

    .modal-pic {
        width: 90%;
    }

    .modal-sec-info-brief {
        width: 90%;
    }

    .modal-desc-bio {
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-top: 10px;
        padding-bottom: 15px;
        display: block;
    }

    .modal-bio p {
        font-size: 18px;
        text-indent: 1.75em;
    }
}

@media screen and (max-width: 520px) {
    .sec-member {
        width: 100%;
        height: 300px;
        display: block;
    }

    .sec-details h3 {
        font-size: 24px;
    }

    .sec-details h4 {
        font-size: 22px;
    }

    .sec-details h5 {
        font-size: 20px;
    }

    .modal-content {
        height: 90%;
        margin-top: 10%;
    }

    .mySlides {
        overflow-y: scroll;
    }

    .modal-desc-pic {
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        border-bottom: 1px solid #000;
    }

    .modal-pic {
        width: 90%;
    }

    .modal-sec-info-brief {
        width: 90%;
    }

    .modal-desc-bio {
        width: 90%;
        height: auto;
        margin-left: 5%;
        margin-top: 10px;
        padding-bottom: 15px;
        display: block;
    }

    .modal-bio p {
        font-size: 18px;
        text-indent: 1.75em;
    }
}

.accordion {
    background-color: rgba(39,64,139,0.7);
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    height: 100px;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 32px;
    transition: 0.4s;
}

.accordion.active, button.accordion:hover {
    background-color: rgba(39,64,139,1);
}

.accordion:after {
    content: '\02795';
    float: right;
    margin-right: 15px;
}

.accordion.active:after {
    content: '\2796';
}

.panel {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 50px;
    padding: 0 18px;
    display: none;
    background-color: white;
    outline: none;
    border: none;
}

@media screen and (max-width: 1024px) {
    .accordion {
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
    .accordion {
        width: 90%;
        margin-left: 5%;
        font-size: 24px;
    }

    .panel {
        width: 100%;
        margin-left: 0;
    }

    .panel img {
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .accordion {
        width: 90%;
        margin-left: 5%;
        font-size: 18px;
    }

    .panel {
        width: 100%;
        margin-left: 0;
    }

    .panel img {
        max-width: 100%;
    }
}
