.comm-group {
    height: 450px;
    text-align: center;
    border: 1px solid black;
    background-color: #c0a782;
}

.comms {
    height: 450px;
    text-align: left;
    border: 1px solid black;
    background-color: #add8e6;
}

.comm-group-txt {
    width: 100%;
    height: 100px;
    position: relative;
    top: 125px;
}

.comms-txt {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
}

.comms-txt ul {
    list-style: none;
}

.comms-txt>ul>li>a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.committee-content {
    width: 94%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 3%;
    text-indent: 2.25em;
}

