.prgm-map-container {
    padding: 0;
}

#prgm-map {
    width: 80%;
    height: 800px;
    margin-bottom: 3em;
    margin-left: 10%;
}

.financial-table {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-collapse: collapse;
    color: #fff;
    font-size: 26px;
}

.financial-table th {
    font-size: 1.25em;
    font-weight: bold;
}

.financial-table th, td {
  /*  border: 1px solid #c0a782; */
    text-align: center;
    padding: 10px;
}

.financial-table tr {
    height: 100px;
}

.financial-table tr:nth-child(even) {
    background-color: rgba(39,64,139,0.6);
}

.financial-table tr:nth-child(odd) {
    background-color: rgba(192,167,130,0.8);
}

.container-schedule {
    width: 80%;
    margin: 70px 10% 70px 10%;
}

.daily-schedule {
    margin-top: 30px;
    overflow-x: scroll;
}
/*
.table-schedule {
    border-collapse: separate;
    border-spacing: 10px;
    border: 1px solid black;
}

.table-schedule td:nth-child(1) {
    min-width: 450px;
    text-align: left;
}

td, th, tr {
    border: 1px solid black;
}

.times-header td {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.table-schedule td {
    border-radius: 30px;
}
*/

.container-schedule {
    width: 90%;
    margin-left: 5%;
    overflow: hidden;
    font-size: 0;
}

.container-schedule table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.daily-schedule {
    overflow: hidden;
}

.daily-schedule h3 {
    width: 100%;
    font-size: 34px;
    padding-left: 7%;
}

.events, .times {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.events td, .times td {
    min-height: 100px;
    max-height: 100px;
    border-radius: 30px;
    font-size: 20px;
/*    border: 1px solid red; */
}

.events {
    width: 30%;
}

.events td {
    width: 400px;
    margin: 0;
    text-align: right;
    padding-right: 20px;
}

.times {
    width: 70%;
    overflow-x: scroll;
}

.times td {
    padding-left: 0;
    padding-right: 50px;
}

.accordion {
    background-color: rgba(39,64,139,0.7);
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    height: 100px;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.5em;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: rgba(39,64,139,1);
}

button.accordion:after {
    content: '\02795';
    float: right;
    margin-right: 15px;
}

button.accordion.active:after {
    content: '\2796';
}

div.panel {
    width: 100%;
    margin-left: 0;
    padding: 0 18px;
    display: none;
    background-color: white;
    outline: none;
    border: none;
}
