body {
    font-family: "Lato normal";
    font-weight: 300;
    font-size: 20px;
}

.container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 160px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    background-color: rgba(39,64,139,0.7);
    z-index: 100;
}

.mobile-header {
    display: none;
}

.image-header {
    width: 10%;
    height: 100%;
    float: left;
    margin-left: 5%;
    display: inline-block;
    background-color: rgba(39,64,139,0);
}

#crest {
    width: 90%;
    height: 90%;
    padding: 0;
    margin: 5% 5% 5% 5%;
    display: inline-block;
}

#crest a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#crest img {
    width: 90%;
    height: 90%;
    float: left;
    margin: 5% 5% 5% 5%;
    padding: 0;
    min-width: 130px;
    max-width: 150px;
    min-height: 130px;
    max-height: 170px;
}

.main-nav {
    width: 75%;
    height: 160px;
    float: right;
    color: white;
    list-style: none;
    position: relative;
    display: inline-block;
    margin-right: 70px;
}

.main-nav>li {
    display: inline-block;
    position: relative;
    float: right;
    height: 160px;
    margin: 0;
    color: #fff;
    cursor: pointer;
    list-style: none;
}

.toggle, [id^=drop] {
    display: none;
}

.main-nav>li>a {
    width: 100%;
    height: 160px;
    display: block;
    margin: 0;
    padding: 0 25px;
    line-height: 160px;
    color: #fff;
    font-size: 26px;
    text-decoration: none;
}

.main-nav>li>a:hover {
    color: #fff;
}

.main-nav>li ul>li {
    list-style: none;
}

.main-nav>li ul>li>a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 5px 0 5px 15px;
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    text-decoration: none;
}

.main-nav>li:hover, .main-nav>li ul>li:hover {
    background-color: rgba(39,64,139,0.7);
}

nav ul ul {
    display: none;
    position: absolute;
    top: 160px;
    left: 0;
    width: 375px;
    padding: 0;
    background-color: rgba(39,64,139,0.7);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

nav ul li:hover > ul {
    display: block;
}

@media screen and (min-width: 1024px) and (max-width: 1124px) {
    .image-header {
        margin-left: 0;
    }

    .main-nav {
        width: 80%;
        margin-right: 30px;
    }

    .main-nav>li>a {
        font-size: 20px;
    }

    .main-nav>li ul>li>a {
        font-size: 18px;
    }
}

@media screen and (min-width: 1124px) and (max-width: 1324px) {
    .image-header {
        margin-left: 0;
    }

    .main-nav {
        width: 80%;
        margin-right: 40px;
    }

    .main-nav>li>a {
        font-size: 24px;
   }
}

@media screen and (max-width : 1024px) {
    nav {
        position: relative;
        margin: 0;
    }

    .main-nav label {
        display: block;
    }

    .image-header {
        display: none;
    }

    .mobile-header {
        display: block;
        font-size: 0;
    }

    .logo-mobile {
        display: inline-block;
        padding: 0;
        width: 40%;
        height: 160px;
        line-height: 160px;
        float: left;
    }

    .logo-mobile img {
        width: 80%;
        height: 130px;
        max-width: 150px;
        margin: 5% 0 0 10%;
    }

    .mobile-dropdown {
        display: inline-block;
        float: right;
        padding: 0;
        width: 60%;
        height: 160px;
        line-height: 160px;
        background-color: rgba(39,64,139,0);
    }

    .mobile-dropdown label {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 40px 5% 0 0;
        padding-right: 45px;
        background-color: rgba(39,64,139,0);
        font-size: 50px;
        cursor: pointer;
        line-height: 80px;
    }

    .logo-mobile a:hover, .mobile-dropdown label:hover {
        background-color: rgba(39,64,139,0);
    }

    .main-nav {
        width: 100%;
        height: auto;
        display: none;
        padding: 0;
        margin: 0;
    }

    .main-nav>li {
        display: block;
        width: 100%;
        height: auto;
        padding: 0;
        float: left;
        background-color: rgba(39,64,139,0.7);
    }

    .main-nav>li>a {
        display: none;
    }

    .toggle {
        display: block;
        background-color: rgba(39,64,139,0.7);
        margin: 0;
        padding: 0 20px;
        color: #fff;
        font-size: 26px;
        line-height: 60px;
        text-decoration: none;
        border: none;
    }

    .toggle:hover {
        background-color: rgba(39,64,139,0.7);
    }

    [id^=drop]:checked + ul {
        display: block;
        top: 0;
        background-color: rgba(39,64,139,0);
    }

    nav ul ul a {
        background-color: rgba(39,64,139,0.7);
    }

    nav ul ul {
        width: 100%;
        display: none;
        top: 60px;
        float: none;
        position: static;
        color: #fff;
    }

    nav ul li:hover > ul {
        display: none;
    }

    nav ul ul li {
        display: block;
        width: 100%;
    }

    .main-nav>li ul>li>a {
        padding-right: 25px;
    }

    .main-nav {
        background-color: rgba(39,64,139,0);
    }

    .main-nav label {
        line-height: 80px;
        background-color: rgba(39,64,139,0);
        color: #fff;
        text-align: right;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }

    .main-nav a {
        line-height: 50px;
        background-color: rgba(39,64,139,0);
        color: #fff;
        text-align: right;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }

    .main-nav>li>ul, .main-nav>li>ul>li {
        background-color: rgba(39,64,139,0);
    }

    .main-nav a:hover, .main-nav label:hover {
        background-color: rgba(39,64,139,0.7);
    }
}

.vid-container {
    height: 1000px;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.welcome-box {
    color: #fff;
    position: absolute;
    right: 175px;
    text-align: right;
}

.welcome-box h1 {
    font-size: 100px;
    margin-bottom: 20px;
}

.welcome-box h4 {
    color: #fff;
    font-size: 30px;
}

.welcome-box a {
    font-size: 40px;
    background-color: rgb(39,64,139);
    border-color: rgb(39, 64, 139);
}

.welcome-box a:hover {
    background-color: rgba(39, 64, 139, 0.7);
    border-color: rgba(39, 64, 139, 0.7)
}

@media screen and (max-width: 1024px) {
    .vid-container {
        width: 100%;
        height: 500px;
        overflow: hidden;
    }

    .welcome-box {
        text-align: center;
        right: auto;
    }

    .welcome-box h1 {
        font-size: 50px;
    }

    .welcome-box h4 {
        font-size: 20px;
    }

    .welcome-box a {
        font-size: 20px;
    }
}

.bg-vid {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media (min-aspect-ratio: 16/9) {
  .bg-vid {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .bg-vid {
    width: 300%;
    left: -100%
  }
}

.sec-gen-letter-container {
    background-color: #fff;
    width: 65%;
    display: inline-block;
    font-size: 0;
}

.sec-gen-letter {
    width: 90%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 5%;
    font-size: 20px;
    text-indent: 2.25em;
}

.sec-gen-letter img {
    margin-bottom: 10px;
    margin-left: -20px;
}

@media screen and (max-width: 1024px) {
    .sec-gen-letter-container {
        width: 100%;
    }

    .sec-gen-letter {
        width: 80%;
        margin-left: 10%;
        text-indent: 2em;
    }
}

#news-feed-container {
    width: 34%;
    display: inline-block;
    vertical-align: top;
    margin-top: 60px;
    margin-right: 0;
    padding: 0 2% 0 2%;
    border: 1px solid #000;
    font-size: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#news-feed-box iframe {
    margin-top: 50px;
}

#top {
    margin-top: 20px;
}

#bottom {
    margin-bottom: 20px;
}

@media (max-width: 1300px) {
    #news-feed-container {
        display: none;
    }
}

footer {
    height: 100px;
    background-color: rgb(39,64,139);
    font-size: 0;
    overflow: hidden;
}

#copyright {
    color: white;
    font-size: 20px;
    text-align: center;
    width: 50%;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    line-height: 100px;
    overflow: hidden;
}

.social-media-icons {
    width: 50%;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.icon-container {
    width: 336px;
    height: 41px;
}

.social-media-icons img {
    width: 60px;
    height: 35px;
    margin: 3px 3px 3px 3px;
}

@media screen and (max-width: 768px) {
    #copyright {
        width: 100%;
        height: 50px;
        display: block;
        font-size: 15px;
        line-height: 50px;
    }

    .social-media-icons {
        width: 100%;
        height: 50px;
        display: block;
    }

    .icon-container {
        width: 252px;
        height: 30px;
    }

    .social-media-icons img {
        width: 50px;
        height: 28px;
        margin: 0;
    }
}

.map-container {
    padding: 0;
}

#map {
    width: 100%;
    height: 400px;
}

.pic-container {
    height: 600px;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.page-title {
    color: #fff;
    position: absolute;
    right: 175px;
    text-align: right;
}

.page-title h2 {
    color: #fff;
    font-size: 80px;
}

@media screen and (max-width: 1024px) {
    .pic-container {
        width: 100%;
        height: 400px;
        overflow: hidden;
    }

    .page-title {
        text-align: center;
        right: auto;
    }

    .page-title h2 {
        font-size: 50px;
    }
}

.content-container {
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15%;
}

.content-container p {
    padding: 0;
    text-indent: 2.25em;
}

.content-container h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
    .content-container {
        width: 80%;
        margin-left: 10%;
    }

    .content-container p {
        text-indent: 2em;
    }
}

.button {
    width: 60%;
    height: 50px;
    padding: 5px 0 0 0;
    background-color: rgb(39,64,139);
    border: none;
    border-radius: 20px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    color: #fff;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.link {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 22px;
}

.link:visited {
    text-decoration: none;
    color: #fff;
}

.link:hover {
    text-decoration: none;
    color: #fff;
}
