body {
    font-family: "Lato normal";
    font-weight: 300;
    font-size: 20px;
}

.container-fluid {
    width: 100%;
    margin: 0; 
    padding: 0;
}

nav {
    position: fixed;
    height: 160px;
    z-index: 100;
}

nav>.row {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(39,64,139,0.7);
}

.image-header {
    width: 20%;
    height: 100%;
    float: left;
}

#crest {
    height: 100%;
}

.image-header img {
    width: 130px;
    height: 130px;
    margin-top: 15px;
    margin-left: 100px;
}

.main-nav {
    width: 80%;
    height: 100%;
    float: right;
    color: white;
    font-size: 30px;
    padding-right: 30px;
}

.main-nav>ul {
    list-style: none;
    width: 100%;
    height: 100%;
    float: right;
    margin-right: 40px;
}

.main-nav>ul>li {
    display: inline-block;
    position: relative;
    height: 100%;
    margin: 0;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    color: white;
    cursor: pointer;
}

.main-nav>ul>li>ul {
    padding: 0;
    position: absolute;
    top: 160px;
    left: 0;
    width: 400px;
    z-index: 1;
    overflow: visible;
    background-color: rgb(39,64,139);
    list-style: none;
    text-decoration: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
  /*  opacity: 0; */
    visibility: hidden;
  /*  -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: 0.2s;*/
}

.main-nav>ul>li>ul>li>a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.main-nav>ul>li:hover, .main-nav>ul>li>ul>li:hover {
    background-color: rgba(39,64,139,0.7);
}

.main-nav ul li ul:hover, .main-nav ul li:hover ul {
    display: block;
    visibility: visible;
    background-color: rgba(39,64,139,0.7);
}

/*
@media screen and (max-width: 760px) {
    .main-nav>ul, .main-nav>ul>li>ul {
        display: none;
    }
    .main-nav>ul>li, .main-nav>ul>li>ul>li {
        width: 100%;
    }
    .show-menu {
        display: block;
    }
}
*/

.vid-container {
    height: 1000px;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.welcome-box {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 55%;
    text-align: right;
}

a.btn {
    background-color: rgb(39,64,139);
    border-color: rgb(39, 64, 139);
}

a.btn:hover {
    background-color: rgba(39, 64, 139, 0.7);
    border-color: rgba(39, 64, 139, 0.7)
}

.bg-vid {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media (min-aspect-ratio: 16/9) {
  .bg-vid {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .bg-vid {
    width: 300%;
    left: -100%
  }
}

.sec-gen-letter-container {
    background-color: #fff;
    width: 75%;
    display: inline-block;
}

.sec-gen-letter {
    width: 90%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 5%;
    text-indent: 2.25em;
}

.sec-gen-letter img {
    margin-bottom: 10px;
    margin-left: -20px;
}

#news-feed-container {
    width: 30%;
    display: inline-block;
}

#news-feed-box {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.news-feed-item {

}

@media (max-width: 1200px) {
    #news-feed-container {
        display: none;
    }
}

footer {
    height: 100px;
    background-color: rgb(39,64,139);
}

#copyright {
    color: white;
    margin-top: 35px;
    margin-left: 15%;
}

.social-media-icons {
    margin-right: 15%;
}

.social-media-icons img {
    width: 60px;
    height: 35px; 
    margin-top: 30px;
    margin-left: 5%;
}

.map-container {
    padding: 0;
}

#map {
    width: 100%;
    height: 400px;
}

.pic-container {
    height: 600px;
    background-color: black;
}

.page-title {
    height: 100px;
    position: relative;
    float: right;
    margin-top: 275px;
    margin-right: 10%;
    background-color: inherit;
}

.page-title h2 {
    color: #fff;
    font-size: 80px;
}

.content-container {
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15%;
}

.content-container p {
    padding: 0;
    text-indent: 2.25em;
}

.button {
    width: 60%;
    height: 50px;
    padding: 0;
    background-color: rgb(39,64,139);
    border: none;
    border-radius: 20px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    color: #fff;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.link {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 22px;
}

.link:visited {
    text-decoration: none;
    color: #fff;
}

.link:hover {
    text-decoration: none;
    color: #fff;
}
